.App {
  text-align: center;
  background-color: white;
  position:absolute;
  height: 100%;
  width: 100%;
}

.listingsHome{
  background-color: cornflowerblue;
  margin: auto;
  width: 50%;
  border-radius: 25px;
}

/*Custom CSS Classes made by Dan Wright*/

.NavBar {
  background-color: burlywood;
}

.sectionHeader{
  font-style: italic;
  text-decoration: underline overline;
}

.liClass{
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.linkClass{
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
}

.buttonClass{
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 25px;
}

.buttonClass:hover{
  background-color: darkseagreen;
}

.buttonClass:active{
  background-color: darkseagreen;
}

.standardText{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.inputClass{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: large;
  border-radius: 25px;
}
